:root {
	--font-xsmall: 12px;
	--font-small: 16px;
	--font-medium: 18px;
	--font-large: 22px;
	--white: rgb(255, 255, 255);
	--dark-gray: rgb(42, 42, 42);
	--gray: rgb(61, 61, 61);
	--off-white: rgb(241, 241, 241);
	--blue: rgb(106, 118, 218);
	--red: rgb(188, 101, 96);
	--green: rgb(81, 97, 64);
	--dark-green: rgb(64, 76, 50);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--off-white);
	padding: 30px;
	text-align: center;
	font-size: 35px;
}

.form-popup {
	background-color: var(--off-white);
	border: 1px solid var(--gray);
	padding: 16px;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-container {
	max-width: 500px;
	padding: 0 10px;
	background-color: var(--off-white);
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.game-container {
	background-color: #bbb;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	padding: 32px;
	position: relative;
}

.btn {
	background-color: var(--gray);
	box-shadow: 1.4px 2.8px 2.2px rgba(0, 0, 0, 0.02),
		3.3px 6.7px 5.3px rgba(0, 0, 0, 0.028),
		6.2px 12.5px 10px rgba(0, 0, 0, 0.035);
	width: 8rem;
	height: 2.5rem;
	border: 2px solid var(--off-white);
	border-radius: 8px;
}

.btn:hover {
	background-color: var(--dark-gray);
}

.btn:active {
	transform: translateY(1px);
}

.btn.cancel,
.btn.reset {
	background-color: rgb(177, 0, 0);
}

.btn.cancel:hover,
.btn.reset:hover {
	background-color: rgb(132, 0, 0);
}

button {
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

input,
select {
	font-family: inherit;
	font-size: 100%;
	width: 250px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

input,
select {
	padding: 4px 8px;
	font-size: 16px;
	border: 2px solid rgb(204, 204, 204);
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
	border-radius: 4px;
}

input:focus {
	outline: none;
	border-color: var(--blue);
	box-shadow: 4.2px 4.3px 5.3px rgba(0, 0, 0, 0.028),
		14.1px 14.3px 17.9px rgba(0, 0, 0, 0.042),
		63px 64px 80px rgba(0, 0, 0, 0.07);
}

.form-container .btn {
	margin-top: 0.5rem;
	height: 2rem;
	width: 100%;
}

.board-container {
	margin: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 10rem);
	grid-template-rows: repeat(3, 10rem);
	background-color: var(--gray);
	gap: 4px;
	padding: 4px;
}

.player-turn {
	margin-top: 4rem;
	text-align: center;
	font-size: var(--font-large);
	font-weight: 500;
}

.game-cell {
	color: black;
	font-weight: 700;
	font-size: 96px;
}

footer {
	background-color: var(--off-white);
	padding: 20px;
	text-align: center;
}
